.jumbotron{
	height: 10%;
}



.ms-footer-metrics{
	background-color: beige;
	align-items: center;
}



h1{
	text-align: center;
}


html,
body{
	height: 100%;
	background-color: black;
}




canvas{
	height: 800px;
	width:800px;
	background-color: grey;
	border: 2px solid white;
	
}


#ms-container{
	left: 50%;
	margin-top: 15%;
	position: static;
}