.top-bar{
	background-color: #dcabdf;
	text-align: center;
}

.jumbotron-timer{
	height: 25%;
}

.navbar-text{
	text-align: center;
}



.ms-footer-metrics{
	background-color: #dcabdf;
	align-items: center;
}



h1{
	text-align: center;
}


html,
body{
	height: 100%;
	background-color: #fafafa;
	overflow-x: hidden;
}




canvas{
	height: 500px;
	width:500px;
	background-color: grey;
	border: 2px solid black;
	
}


#ms-container{
	left: 50%;
	/*margin-top: 10%;*/
	position: static;
}